* {
    font-family: 'Poppins';
    box-sizing: border-box;
}
.title {
    width: 50%;
    margin-top: 120px;
}

section {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* align-content: space-around; */

    background: #00fdff url(pictures/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animate 40s linear infinite;
}

.middle  {
    font-size: 50px;
    position: absolute;
    z-index: 1;
    top: 346px;
    left: 627px;
}
body {
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.bg {
    position: relative;
    /* background: #00fdff url(background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animate 40s linear infinite; */
}

@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }

}

#modalBtn {
    height: 100px;
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 700px;
}
.modal {
    display: none;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    font: Arial;
    margin: 20% auto;
    padding: 20px;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7 20px 0 rgba(0,0,0,0.17);
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}
.closeBtn:hover,.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cryingboy {
    height: 150px;
    float: right;
}

.playbutton {
    height: 100px;
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 500px;
}